@charset "utf-8";
@import url(base.css);
a{ color:#000000;}
p {color:#646464;}
/* Layout */
.w1000 {width:1000px; margin:0 auto;}
.w200 {width:200px;}
.w300 {width:300px;}

/* Style */
.logo {height:80px;}
.logo-bar {width:480px; height:80px; background:url(../images/bg-header-bar.gif) no-repeat;}
.logo-bar .icon {float:left; display:block; height:65px; line-height:65px; color:#979494}
.logo-bar .icon strong{color:#000000;}
.logo-bar .icon-1 {width:60px; padding-left:50px;}
.logo-bar .icon-2 {width:60px; padding-left:35px;}
.logo-bar .icon-3 {width:70px; padding-left:35px;}
.logo-bar .icon-4 {width: 125px;padding-left: 45px; line-height:15px; padding-top:16px; height:50px;}
.main-nav {background:url(../images/bg-header-main-nav.gif) no-repeat center #c1de0c; height:45px;}
.main-nav-ul {height:45px;}
.main-nav-ul li {float:left; height:45px; line-height:45px; text-align:center; margin:0 10px; list-style:none}
.main-nav-ul a { text-decoration:none; color:white;display:block; padding:0 20px;}
.main-search { padding-right:15px; padding-top:13px;}
.main-search-input, .main-search-btn{border:none; border:0;  margin:0; padding:0; height:20px;float:left; line-height:20px;}
.main-search-input { width:110px;}
.main-search-btn {background:transparent; cursor:pointer; width:40px;}
.sub-nav{background:url(../images/bg-header-sub-nav.gif) repeat; height:35px;}
.sub-nav-ul {height:35px;}
.sub-nav-ul li {float:left; margin:0 10px; text-align:center; list-style:none}
.sub-nav-ul a { text-decoration:none; color:#5b5a5a;display:block; float:left; padding:1px 15px; margin:7px 0; height:21px; line-height:21px;}
.sub-nav-ul a.current,
.sub-nav-ul a:hover { border:1px solid #bdbdbd; text-decoration:none; padding:0 14px;}
.sub-nav .cart{ float:right; padding-top:5px;}
.sub-nav .cart-icon,
.sub-nav .cart-txt,
.sub-nav .cart-btn {border:1px solid #bdbdbd;float:left; height:23px; line-height:23px;  }
.sub-nav .cart-icon {background:url(../images/bg-cart.gif) no-repeat 0 -1px; width:25px; border-right:0;}
.sub-nav .cart-txt { border-left:0; color:#bdbdbd; padding-left:10px; width:180px;}
.sub-nav .cart-btn { width:50px; text-align:center; color:#999999; margin-left:10px;}

.link{height:50px; background-color:#323232;}
.link p{line-height:50px; padding:0 0 0 50px;color:#abaaaa}
.link a{color:#abaaaa; text-decoration:none;}
.link a:hover {text-decoration:underline;}
.footer-bar {background-color:#1e1e1e;border-top:1px solid #030303; height:150px;}
.footer-bar-ul li{ border-left:1px solid #030303; float:left; width:120px; padding-top:30px; padding-left:20px; height:100px; list-style:none;}
.footer-bar-ul li.first{ border-left:none;}
.footer-bar-ul li strong{color:#626262; font-size:14px; line-height:30px; height:30px; padding-bottom:15px; display:block;}
.footer-bar-ul li strong i {float:left;}
.footer-bar-ul li p {padding: 0 0 0 30px; font-size:14px;}
.footer-bar-ul li a {color:#626262}
.footer-bar-ul li .icon {background:url(../images/bg-footer-bar.gif) no-repeat; height:30px; width:30px; display:inline-block}
.footer-bar-ul li .icon1{ background-position:0 0;}
.footer-bar-ul li .icon2{ background-position:-30px 0;}
.footer-bar-ul li .icon3{ background-position:-60px 0;}
.footer-bar-ul li .icon4{ background-position:-90px 0;}
.footer-bar-ul li .icon5{ background-position:-120px 0;}
.footer-logo {padding-top:40px;}
.copyright {background-color:#1e1e1e; padding:20px 0px; }
.copyright p { line-height:40px;text-align:center; color:#696767}
.shade{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8}


.bg-banner{background:url(../images/bg-index-banner.gif) repeat-x; height:380px; border-bottom:1px solid #e5e5e5; margin-top:10px;}
.banner{background:url(../images/bg-banner.png) right; width:1100px; margin:0 auto; height:380px; }
.banner-data { width:200px; padding-top:45px;}
.banner-title{ height:65px; background-color:#b73a51; text-align:center; padding-top:5px;}
.banner-info{ height:205px; background-color:#FFFFFF; padding:10px;}
.banner-info p {line-height:25px; color:#8d8d8d;}

.logo-line{background:url(../images/bg-logo-bar.gif) repeat-x; height:25px; padding-bottom:20px;}
.logo-line-mini { margin-left:20px; padding:0 15px; background-color:#FFFFFF;}

.title-bar{ height:45px; background-color:#e2e2e4; margin-top:10px;}
.title-bar .title{ color:#50504f; height:45px; line-height:45px; width:185px; background-color:#bfbfc0; font-size:14px; font-family:"微软雅黑"; padding-left:15px;}
.title-bar .en {font-family:"Times New Roman"; font-size:24px;}
.title-bar .more{ height:45px; width:45px; line-height:45px; display:block; text-align:center; text-decoration:none; color:#bfbfc0; background:url(../images/bg-circle.gif) no-repeat;}

.content-bar { padding-top:40px; padding-bottom:20px;}
.content-bar.notop{padding-top:0;}
.content-bar .latest { width:180px; margin-right:10px; height:230px; float:left; position:relative;}
.content-bar .latest img {border:1px solid #ebebeb;}
.content-bar .latest p { padding:5px; line-height:20px; color:#a9aaab;}
.content-bar .latest-info { position:absolute; background-color:#000000; height:230px; width:180px; top:0; left:0;}
.content-bar .icon-view,
.content-bar .icon-info { background:url(../images/bg-info.gif) no-repeat; height:32px; width:32px; position:absolute;}
.content-bar .icon-view { left:50px; top:80px;}
.content-bar .icon-info {background-position:-32px 0; left:85px; top:80px;}
.content-bar .latest-info .price-info {padding-top:150px; color:white;}
.content-bar .latest-info .info{ color:white;}
.content-bar .notice { background-color:#bebebe; width:240px; height:230px; float:left; color:white}
.content-bar .notice h2 { text-align:center; height:50px; line-height:50px; padding:0; margin:0; font-size:32px; font-family:"微软雅黑"; border-bottom:#eeeeee 1px solid; }
.content-bar .notice ul { border-top:#a4a4a4 1px solid; list-style:none; padding-top:20px;}
.content-bar .notice li { margin-left:30px;  background:url(../images/bg-li.gif) no-repeat 0px 0px; padding-left:20px; }
.content-bar .notice a { font-size:14px; color:white;}
.content-bar .col-w260{ width:260px; height:320px; margin-bottom:10px;}
.content-bar .col-w155{ width:155px; height:155px; margin-left:10px;margin-bottom:10px;}
.content-bar .col-w235{ width:235px; height:155px; margin-left:10px;margin-bottom:10px;}
.content-bar .col-w320{ width:320px; height:155px; margin-left:10px;margin-bottom:10px;}
.content-bar .big-left{ padding-left:10px; width:300px;}
.content-bar .small-icon { width:600px; padding:0 45px; height:30px;}
.content-bar .small-right { padding:0 15px; width:660px;}
.content-bar .small-wrap {width:160px; margin:0 30px; display:inline; float:left;}
.content-bar .price{ height:60px; line-height:60px;font-size:14px;}
.content-bar .price a{ color:#505050; }
.content-bar .price-num{color:#4a5791;}
.content-bar .go-group{ display:block; float:right; margin-left:10px; height:20px; width:37px; background:url(../images/bg-prevnext.gif) no-repeat; }
.content-bar .go-prev,
.content-bar .go-next {height: 20px; width:18px; display:block; float:left; cursor:pointer}
.content-bar .left-flash {width:370px; height:450px;}

.content-bar .flash-content{ position:relative; height:359px; width:370px; overflow:hidden;}
.content-bar .flash-content img {width:370px; height:359px;}
.content-bar .flash-tip{ position:absolute; left:0; bottom:0; height:29px; width:360px; background:#FFF; line-height:29px; padding-left:10px; }
.content-bar .flash-group{ height:91px; width:370px;}
.content-bar .flash-src img{ height:359px; width:370px; border:0;}
.content-bar .flash-thumb{ margin-left:2px; height:91px; width:91px; float:left; position:relative}
.content-bar .flash-thumb img { height:91px; width:91px; border:0;}
.content-bar .flash-thumb.first {margin-left:0;}
.content-bar .flash-thumb div{height:91px; width:91px; position:absolute; background-color:#333; cursor:pointer;}
.content-bar .flash-thumb.current div {background-color:transparent;}
.content-bar .recommend-group{ height:450px; margin:0 20px; width:390px;}

.content-bar .recommend { height:126px; margin-top:36px; background-color:#e2e2e4;}
.content-bar .recommend img {float:left; border:0; height:126px; width:120px;}
.content-bar .recommend p { float:left; text-indent:2em; font-size:14px; color:#a4a4a6; padding:10px; width:250px;}
.content-bar .recommend a {color:#a4a4a6;}
.content-bar .recommend.first {margin-top:0;}

.content-bar .sidebar-group{ width:200px; height:450px;}
.content-bar .sidebar-content { height:225px;}
.content-bar .sidebar-content img {height:200px; width:200px; border:0;}
.content-bar .sidebar-content p{ line-height:25px; text-align:center;}

.content-bar .category-name{ font-weight:bold; font-size:14px;}
.content-bar .category { background:url(../images/bg-category.gif) no-repeat; height:50px; width:50px; display:block; margin-left:75px; }
.content-bar .category-1 {background-position:0 0;}
.content-bar .category-2 {background-position:-50px 0;}
.content-bar .category-3 {background-position:-100px 0;}
.content-bar .category-4 {background-position:-150px 0;}
.content-bar .category-5 {background-position:-200px 0;}
.content-bar .category-child { height:75px; padding:10px;}
.content-bar .category-child li {width:60px; float:left; list-style:none; line-height:25px;}
.content-bar .service-group{ padding:0 70px;}
.content-bar .service {background:url(../images/bg-service.gif) no-repeat; height:60px; width:155px; display:block; float:left; margin:0 30px;}
.content-bar .service-1{background-position:0 0;}
.content-bar .service-2{background-position:0 -60px;}
.content-bar .service-3{background-position:0 -120px;}
.content-bar .service-4{background-position:0 -180px;}






.left-menu,
.left-col { width:230px;}

.left-menu h4{ background-color:#bebebe;  color:#f6f6f6; font-family:"微软雅黑";font-size:24px; text-align:center;height:50px; line-height:50px;}
.left-menu li {list-style:none; height:35px; line-height:35px; text-align:center; border-bottom:1px solid white; float:left; width:230px;}
.left-menu li a {color:#383838; font-size:14px; font-weight:bold; display:block;background-color:#e2e2e2; }
.left-menu li a:hover{background-color:#d8d8d8; text-decoration:none;}
.main-container { width:750px;}
.main-title{ background-color:#ddd; line-height:50px; padding-left:40px; font-size:14px;font-weight:bold;}
.main-title a {color:#868585; }
.article-list li { height:35px; line-height:35px; background:url(../images/bg-li.gif) no-repeat 16px 7px #ebebeb;  padding-left:40px; list-style:none; font-size:14px; border-bottom:1px solid white; padding-right:40px;}
.article-list a {color:#868585; }
.article-list .article-time {float:right; color:#868585;}

.box {background-color:#f5f5f5; margin-bottom:10px;}
.left-col h4,
.main-container h4 {background-color:#e0e0e1; color:#646464; font-weight:bold; font-size:13px; padding-left:30px;height:40px; line-height:40px; margin-bottom:3px;}
.left-col .category{ font-weight:bold; background: url(../images/bg-content.gif) no-repeat -6px 4px;line-height:25px; padding-left:10px; margin-left:30px; clear:both;}
.left-col .category-sub { line-height:25px; margin-left:30px; width:80px; float:left; display:inline }
.left-col p,
.left-col a {color:#646464; font-size:13px;}
.left-col .look {padding:10px; height:66px;}
.left-col .look img {float:left; width:66px; height:66px; }
.left-col .look p { float:left; width:135px; padding-left:9px; padding-top:15px;}
.left-col .look a { font-size:12px;}
.main-container .choose { list-style:none; padding-left:30px; margin-bottom:5px;}
.main-container .choose li {float:left; display:block; line-height:20px; height:20px;margin-right:10px;}
.main-container .choose li.title {margin-right:5px;}
.main-container .choose span {display:block;}
.main-container .choose a {display:block; padding:0 5px; color:#464646; text-decoration:none;}
.main-container .choose a:hover,
.main-container .choose a.current{ background-color:#c0d739; color:white}
.main-container .keyword-input,
.main-container .price-input { border:1px solid #bdbdbd; height:23px; background-color:transparent; margin:0 5px; }
.main-container .item-search {padding:10px 30px 0; line-height:30px; vertical-align:middle;}
.main-container .price-input {width:60px;}
.main-container .price-btn {background: url(../images/bg-content.gif) no-repeat 0 -50px;
	width: 45px; border:none; border:0;
	height: 45px; margin-top:-8px; cursor:pointer;
}
.main-container .item-search label,
.main-container .item-search input {float:left;}
.main-container .item-wrap{position:relative;}
.main-container .item {position:absolute; width:230px;}
.main-container .item-info { height:76px; padding:2px 20px; background-color:#f5f5f5;}
.main-container .item-price{color:#e76096; font-size:14px; font-weight:bold;}
.main-container .item-love{background: url(../images/bg-content.gif) no-repeat -10px -169px;}
.main-container .item-love .love{color:#e76096; padding-left:20px; width:25px; display:inline-block; text-align:center;}
.main-container .item-love .mail{padding-left:45px;}


.item-thumb-group{ padding-left:30px; width:170px;}
.item-thumb-group .item-thumb{padding:4px; padding-right:12px; height:112px; width:92px; margin-top:10px;}
.item-thumb-group .current {background:url(../images/bg-thumb-active.gif) no-repeat;}
.item-src { width:370px;}
.item-param{ width:410px; font-size:14px;}
.item-param p {line-height:35px; font-size:13px; color:#383838;}
.item-name {color:#383838; font-weight:bold; height:60px;}
.item-promotion {color:#ff0000; font-size:24px;}
.item-card,
.item-quick {background: url(../images/bg-content.gif) no-repeat; text-decoration:none;}
.item-card { background-position: -183px -138px; padding-left:20px;}
.item-quick { background-position:-131px -114px; padding-right:20px; margin-left:20px;}
.item-category{ border:1px solid #c8c9cd; padding:5px 10px; font-size:12px; display:inline-block; margin:5px 5px 5px 0;}
.item-category:hover { text-decoration:none; background-color:#666666; color:white;}
.item-input-num { height:23px; line-height:23px; border:1px solid #c8c9cd; width:40px; padding:3px 10px;}
.item-num-update { position:relative;background: url(../images/bg-content.gif) no-repeat 0 -119px;width: 21px;height: 34px;}
.item-num-up, 
.item-num-down{ height:17px; width:21px; position:absolute; left:0; top:0; }
.item-num-down{ top:17px;}
.item-save {padding-left:65px; padding-top:25px;}
.item-buy,
.item-cart {line-height:35px; color:white; padding:10px 30px; margin-right:10px;}
.item-cart:hover,
.item-buy:hover {text-decoration:none;}
.item-buy { background-color:#f2c931;}
.item-cart { background-color:#bae100;}

.tab-group{ height:30px; line-height:30px; background-color:white; border-bottom:2px solid #dadada;}
.tab {float:left; display:block; padding:0 30px; font-size:14px; margin-right:10px;}
.tab.current,
.tab:hover{ text-decoration:none; background-color:#dadada}
.item-product {padding:20px 30px 0; font-size:13px;}
.item-desc { padding:0; font-size:13px; }
.item-desc li{ width:220px; list-style:none; color:#646464; float:left; padding-left:30px; padding-top:10px;}