@charset "gb2312";
@import url("reset.css");
@import url("text.css");
body {background-color:#f5f5f5; font-size:12px; font-family:"ו"}
a{color:#333333; }
a:link, a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
#navigation  .logo,
#navigation .main-nav li a,
#navigation .main-nav li a:hover,
#container .about-us h1,
#container .area h1,
#container .theme-title,
#container .theme-img-wrap, 
#left .item,
#left .scene,
#footer .img {background-image:url("../images/bg.gif"); background-repeat:no-repeat;}
#header { border-bottom:1px solid #d0c6c1; margin-bottom:5px; height:35px; color:#333333;}
	#header .topLink {float:left; height:35px;}
	#header .topLink a {line-height:35px;}
	#header .topLogin {float:right; height:35px;}
	#header .topLogin label, #header .topLogin input {float:left;}
	#header .topLogin label{display:block; line-height:35px; height:35px; padding-left:10px;}
	#header .topLogin input{padding:2px 5px; height:14px; border:1px solid #999; margin-top:7px; width:120px;}
	#header .topLogin span {display:block; float:left; padding-left:20px; line-height:35px;}
	
#navigation { background-color:#be0725; height:65px; margin-bottom:16px;}
	#navigation .logo { float:left; margin-top:8px;}
	#navigation .logo a {display:block; width:150px; height:50px; text-indent:-999em;}
	#navigation .main-nav {float:right;margin-top:25px; height:30px;}
	#navigation .main-nav li {float:left; list-style:none; margin:0;}
	#navigation .main-nav li a {display:block; height:25px; line-height:25px; text-indent:-999em;}
	#navigation .main-nav li .nav1{background-position:-270px 0px; width:65px;}
	#navigation .main-nav li .nav2{background-position:-335px 0px; width:100px;}
	#navigation .main-nav li .nav3{background-position:-435px 0px; width:100px;}
	#navigation .main-nav li .nav4{background-position:-535px 0px; width:100px;}
	#navigation .main-nav li .nav5{background-position:-635px 0px; width:100px;}
	#navigation .main-nav li .nav6{background-position:-735px 0px; width:100px;}
	#navigation .main-nav li .nav7{background-position:-835px 0px; width:100px;}
	#navigation .main-nav li .nav1:hover{background-position:-270px -23px; width:65px;}
	#navigation .main-nav li .nav2:hover{background-position:-335px -23px; width:100px;}
	#navigation .main-nav li .nav3:hover{background-position:-435px -23px; width:100px;}
	#navigation .main-nav li .nav4:hover{background-position:-535px -23px; width:100px;}
	#navigation .main-nav li .nav5:hover{background-position:-635px -23px; width:100px;}
	#navigation .main-nav li .nav6:hover{background-position:-735px -23px; width:100px;}
	#navigation .main-nav li .nav7:hover{background-position:-835px -23px; width:100px;}

#flash {height:385px; overflow:hidden; background-color:#be0725; margin-bottom:10px;}

#container { background-color:#eddcbe; border-bottom:2px solid #be0725;}
	#container p {color:#be0725;}
	#container .about-us{width:338px; float:left;}
	#container .about-us h1 {height:70px; background-position:0 -65px; text-indent:-999em; margin:0;}
	#container .about-us p {padding-left:10px; padding-top:10px; text-indent:2em; padding-right:10px;}
	#container .area{float:left; width:318px; height:310px;}
	#container .area h1{ height:35px;text-indent:-999em; margin:0; margin-top:20px; width:200px;}
	#container .area h1.s1 {background-position:-335px -75px;}
	#container .area h1.s2 {background-position:-645px -75px;}
	#container .flash-wrap {width:294px; height:246px; border:1px solid #c3b59c; padding:2px;}
	#container .flash-img {background-color:#be0725; height:246px;}
	#container .theme-title {height:60px; background-position:0 -150px; width:960px;}
	#container .theme-wrap {padding-bottom:5px; height:300px; overflow:hidden; width:980px;float: left;}
	#container #outer { overflow: hidden;width:980px;height:300px;}
	#container #inner{float:left;}
	#container #wid{ width: 900%; float: left;}
	#container .theme-img-wrap {height:300px; width:195px; float:left; background-position:0 -210px;list-style:none; margin:0;}
	#container .theme-img-wrap h4{ height:18px; padding-top:4px; padding-left:15px; font-size:12px; line-height:18px; margin:0; color:#FFF;}
	#container .img {padding:10px 18px 0; height:235px;}
	#container .more{ text-align:right; padding-right:18px;}
	#container .more a{color:#be0725; text-decoration:underline;}
	

#left {width:194px; height:770px; border-right:1px solid #be0725; margin-top:50px; float:left;}
	#left .item {background-position:-200px -410px; width:175px; height:90px; margin-left:10px;}
	#left .item .title{color: #be0725; font-size:18px; line-height:30px; height:30px; text-align:center}
	#left .scene { background-position:-200px -212px; height:155px; width:142px; left:197px; top:210px; margin-left:30px;}
	#left .scene .title {color:white; padding-left:15px; height:20px; line-height:20px;}
	#left .scene .img {height:115px; width:115px; padding:5px 8px; }
#right {width:765px; margin-top:50px; float:left; padding:0 10px;}
	#right h2 {color:#be0725; line-height:20px; text-align:center; font-size:18px;}
	#right h4 {color:#be0725; font-size:14px; padding-left:10px;}
	#right p{padding:10px; color:#000; margin:0;}
	#right p.about {font-size:18px; text-indent:2em; color:#be0725;}
	#right .item-wrap{ width:390px; height:260px; padding:15px; border:1px solid #b3a790; margin-left:10px; background-color:#f6e5c7;}
	#right .item-img {height:260px; width:390px; background-color:#be0725;}
	
	#right .content {float:left; width:465px;}
	#right .sideBar {float:left; width:300px;}
	#right .box { border:1px solid #baac91; padding:8px;  width:250px; background-color:#f6e9d8; margin-bottom:10px;}
#footer { text-align:center; padding-top:20px;}
#footer .link { margin:0 auto; height:20px; line-height:20px; width:500px; overflow:hidden;}
#footer .link li{margin-left:0; list-style:none; float:left; }
#footer .link a {line-height:14px;padding:0 10px; border-left:1px solid #333; height:14px;}
#footer .link .first {border-left:none;}
#footer .copy {line-height:24px; height:24px;}
#footer .img{ background-position:0 -533px; height:58px; width:595px; margin:10px auto;}
.w980 {margin:0 auto; width:980px;}
.h20 {height:20px;}
.h30 {height:30px;}
.h50 {height:50px;}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
