@charset "gb2312";
/* CSS Document */
/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}

/* Text */
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:0px}


body{margin:0;padding:0;}
a {text-decoration:none; color:#036}
li {list-style:none;}

.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

.header{width:1000px; margin:auto; height:120px; border-bottom:4px solid #EEE; margin-bottom:15px;}
.logo {width:340px; height:110px; background:url(../images/logo.gif) no-repeat;}
.search{width:390px; padding-left:270px; padding-top:30px; height:35px; text-align:right;}\
	.search form {float:right;}
	.search .txt,
	.search .btn{padding:0; margin:0; border:1px solid #d2d2d2;  }
	.search .txt{height:24px; line-height:24px; border-right:none; width:360px;}
	.search .btn {height:26px; line-height:250px; overflow:hidden; cursor:pointer; border-left:none; width:24px; background: transparent url(../images/btn-search.gif) no-repeat center center} 
	
.main-nav{width:660px; height:45px;}
	.main-nav ul {float:right; padding-top:10px;}
	.main-nav li {float: left;margin-left: 40px; }
	.main-nav li a{font-size: 18px;line-height: 20px;color: #5E5D5C;  font-family: "微软雅黑";}
	.main-nav li a:hover{color:#f18336}
	
	
.flash-banner {margin:auto; position:relative; width:1000px;}


.index-col {margin:auto; width:1000px; padding-top:20px; padding-bottom:40px;}
	.index-col .col {width:318px; margin-left:20px;height:auto;border-right:#909090 1px solid;border-bottom:#909090 1px solid;background:#fff;color:#333; height:98px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/box-shadow:2px 2px 10px #909090;/*opera或ie9*/ *margin-left:14px;_margin-left:14px;}
	.index-col .col-first {margin-left:0;background:url(../images/col-1.gif)}
	.index-col .col-middle{background:url(../images/col-2.gif)}
	.index-col .col-last{background:url(../images/col-3.gif)}
	.index-col h2 {font-weight:bold; font-size:17px; padding-left:110px; padding-top:10px; color:#0d8ab3;}
	.index-col p {font-weight:bold; padding-left:110px; color:#868484;}
	.index-col .col-first h2 {color:#194c81;}


.footer{ background-color:#333333; padding:20px;}
.footer p{text-align:center; color:white;}	
	

.page {width:1000px; margin:auto;}
	.left-nav{width: 200px; margin-bottom:20px;}
	.left-nav ul {padding-bottom: 30px;list-style: none; background: #E8E9E9 url(../images/bg-left-nav.png) no-repeat right bottom;}
	.left-nav ul li {border-style: solid;border-left-width: 1px;border-right-width: 1px;border-color: #E0E0E0; margin:0;}
	.left-nav .primary {border-width: 1px;border-style: solid;border-top-color: #D7D9DD;border-left-color: #A0A3A9;border-bottom-color: #575A5D;border-right-color: #92969B; color: white; line-height:25px; height:25px; padding-left:15px; background-color:#666}
	.left-nav li a { padding-left:15px; display:block; line-height:25px; height:25px; color: #4B4B4B; border:1px solid #EEE; background:url(../images/bg-left-nav-icon.png) right 4px no-repeat; letter-spacing:4px;}
	.left-nav li a:hover {background-color:#CCC;}
	.container {width:740px; padding-left:40px; padding-right:20px;}
	.container .title h1 {font-size:30px; font-weight:400; line-height:1;  border-bottom:2px solid #EEE; padding-bottom:10px;}
	.container .picture,
	.container .content,
	.container .images-list,
	.container .articles-list {padding-top:30px;padding-bottom:40px;}
	
	.container .col-2{padding:20px; border:1px solid #CCC;}
	.container .tab {height:30px; background-color:#CCC; padding-top:10px;}
	.container .tab .t {height:30px; float:left; margin-left:10px;}
	.container .tab a {line-height:30px; display:block; padding:0 20px;}
	.container .tab a:hover,
	.container .tab a.active{background:#FFF;}
	.container .images-list .images{ float:left; padding:6px; border:1px solid #CCC; margin:5px;}
	.container .images-list img {width:160px; height:140px;}
	.container .articles-list li {list-style:circle; padding:5px 0}
	.container .articles-list li span {float:right;}
	.container .tab-content {border:1px solid #CCC; border-top:none; padding:10px; margin-bottom:30px;}
	
	
#slides {}
#slides .next,#slides .prev { display:none;}
.slides_container {height:296px;overflow:hidden;position:relative;}
.pagination { position:absolute; bottom:40px; right:10px; z-index:20}
.pagination li {float:left;margin:0 2px; list-style:none;}
.pagination li a {display:block;width:60px;height:39px;float:left;overflow:hidden; border:2px solid #FFF;}
.pagination li a:hover {text-decoration:none;}
.pagination li.current a {background-color:#F00;}
.latest-new {position:absolute; bottom:0px; height:30px; line-height:30px; padding-left:20px; background:#FFF; z-index:30; width:980px; border-bottom:1px solid #EEE; border-top:1px solid #EEE;}
.latest-new a{color:black;}