@charset "gb2312";
/* Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}

/* Text */
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

html, body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; -webkit-text-size-adjust:none;}
h1, h2, h3, h4, h5, h6, p, ul, li {margin: 0;padding: 0;
}
body {text-align:center;background:#f0e8c4 url("../images/bg-top.jpg") repeat-x ;}
a {font-size:12px; color:#4E473F;; text-decoration:none;}
a:hover {color:red;}
#header, #container,#footer {width:1003px; margin:0 auto; text-align:left;}
#header .logo {background-image:url("../images/bg-header.jpg"); height:96px;}
	#nav {background-image:url("../images/bg-menu.jpg"); height:38px;}
	#nav a {color: #CEAB85;font-size: 14px;font-weight: bold;float:left;display:block; width:100px; text-align:center; line-height:35px;}
	#flash {height:260px;}

#container, #footer {background-image:url("../images/bg-main-index.jpg")}
#container.page {background-image:url("../images/bg-main-page.jpg")}
#container .i-left ,
#container .i-center, 
#container .i-right {float:left; height:300px; padding-top:10px;border-top:5px solid #9e825d;}
#container h2.title-1,
#container h2.title-2,
#container h2.title-3 {padding-left:20px;height:23px; color:#7a441e;font-family:"微软雅黑",Arail; font-size:14px; line-height:20px;background:url("../images/bg-title.jpg") no-repeat; }
#container h2.title-2{background-position:0 -23px;}
#container h2.title-3{background-position:0 -46px;}

#container .i-left {width:250px; padding-left:10px;}
#container #projects ul{ list-style:none;}
#container #projects li{ padding:5px 0;}
#container #projects a img{ border:1px solid transparent}
#container #projects a img:hover {border: #412E20 solid 1px;}

#container .i-center {width:440px; padding-left:20px; background:url("../images/bg-i-center.jpg") left no-repeat;}
#container .about p{ padding-top:10px; height:120px; text-indent:2em;}
#container #completed {overflow:hidden;height:105px;width:440px; padding-top:5px;}
#container #completed ul{height:105px; list-style:none;}
#container #completed li{ float:left; height:105px; padding-right:2px; text-align:center;}

#container .i-right { width:260px; padding-left:20px;}
#container .news,
#container .works {height:122px; margin-bottom:5px; overflow:hidden; width:250px; line-height:25px;}
#container .i-article li,
#container .news li {margin-left:20px;}
#container .works li {margin-left:25px;}
#container .i-right li, 
#container .i-right a,
#container .i-article li {line-height:22px;}
#container .i-right li span,
#container .i-article li span {float:right;}
	#case {padding-top:10px; padding-bottom:10px; background:url("../images/bg-case.jpg") center center no-repeat; border-top:5px solid #9e825d; border-bottom:5px solid #9e825d;}
	#case #case-wrap { margin-left:60px;height:140px;overflow:hidden; margin-right:30px; }
	#case ul {list-style:none;}
	#case li {float:left; height:120px; padding-top:20px; margin-right:3px;}
	#case li .t {text-align:center;}

#container .i-article {width:294px; float:left; padding:20px; height:310px;}
#container .i-article img {margin:5px 0 8px}



#container .p-left {width:240px; float:left; padding-left:10px; padding-top:10px;}
#container .p-right{width:733px; float:left; padding:10px; position:relative;}
	#sub-nav {width:240px;}
	#sub-nav li {list-style:none; height:35px; width:221px; margin:4px 0}
	#sub-nav li a {display:block; line-height:35px; background:url("../images/active.jpg"); text-align:center; color:#FFF; font-size:14px; font-weight:bold;}
	#sub-nav li a:hover{ background:url("../images/active-hover.jpg");}
	
#container .p-right .nav-bar { position:absolute; top:10px; right:10px;}
#container .content{font-size: 13px;color: #743B0E;line-height: 22px; padding:20px;}
#container .list-cate { position:absolute; top:40px;  width:700px; text-align:center; font-weight:bold;}
#container .list-image,
#container .list-article {width:700px; margin-left:20px; margin-top:30px;}
#container .list-image .image {width:25%; float:left; list-style:none; text-align:center; padding-bottom:15px;}
#container .list-image img {border:1px solid #C67907}
#container .list-image a:hover img{border:1px solid #111}

#container .list-article li {margin-left:20px; line-height:30px;}
#container .list-article li a{line-height:30px; color: #743B0E;}
#container .list-article li span{float:right;}
#footer .link {background:url("../images/bg-footer-top.jpg"); height:50px; line-height:30px;}
#footer .link a{color:white; display:block; float:left; padding:0 12px;}
#footer .copy p {padding:10px;}

.spilt-h {height:10px;}