<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Title</title>
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<div class="header">
	<div class="logo pull-left"></div>
    <div class="search pull-left">
    	<form method="get">
    	<input type="text" name="keywords" class="txt pull-left" />
        <input type="submit" class="btn pull-left" value="search" />
        </form>
    </div>
    <div class="main-nav pull-left">
    	<ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">公司简介</a></li>
            <li><a href="#">产品介绍</a></li>
            <li><a href="#">解决方案</a></li>
            <li><a href="#">成功案例</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>

<div class="page">
	<div class="left-nav pull-left">
        <ul>
            <li class="primary">解决方案</li>
            <li><a href="#">汽车解决方案</a></li>
            <li><a href="#">出租车解决方案</a></li>
            <li><a href="#">政府解决方案</a></li>
        </ul>
    </div>
    
    <div class="container pull-left">
    	<div class="title">
    		<h1>汽车租赁行业解决方案</h1>
        </div>
        
        <div class="picture">
        	<div class="col-2 pull-left">
            	<img src="../images/contents/solution-1.jpg" />
            </div>
            <div class="col-2 pull-right">
            	<img src="../images/contents/solution-2.jpg" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            <p dir="ltr" _extended="true">本公司坚持走:以质量求生存,以科技求发展,重合同守信用的道路,生产经营得到迅速发展。我们将以优质的产品和最完善的售后服务来真诚与各界朋友开展广泛的合作,共同创造一个美好的未来!</p>
            <p dir="ltr" align="left"><strong>公司地址：浙江省永嘉县瓯北镇浦西工业区</strong></p>
            <p dir="ltr" align="left"><strong>公司帐户:农行永嘉县支行营业中心19-240701040068192</strong></p>
            <p dir="ltr" align="left"><strong>银行卡号:农行温州市分行永嘉支行瓯北支行 6228480331216336015&nbsp; 郑西</strong></p>
            <p dir="ltr" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工行永嘉瓯北支行 6222021203000282136&nbsp; 郑西</strong></p>
            <p dir="ltr" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国建设银行永嘉瓯北支行 4367421422129113771&nbsp; 郑西</strong></p>
            <p dir="ltr" align="left"><strong>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编:&nbsp;&nbsp;&nbsp; 325105</strong></p>
            <p dir="ltr" align="left"><strong>电话（营销部）:86-0577-67980805&nbsp; &nbsp; 67980810&nbsp;&nbsp; 67980813&nbsp; &nbsp;67980815<br />
              <br />
              企业邮箱：<a href="mailto:yzjbfzhan@126.com">yzjbfzhan@126.com</a>&nbsp;</strong></p>
            <p dir="ltr" align="left"><strong>企业网址：</strong><a href="http://www.yzj.cc/"><u><strong>http://www.yzj.cc</strong></u></a><a href="http://www.wwwwww.cc/"><u><strong>http://www.wwwwww.cc</strong></u></a></p>
            <p dir="ltr"><strong>联系传真:86-0577-67980820</strong></p>
            <p><strong>客服热线：0577-67980805</strong></p>
            <p><strong>公司行为准则:</strong><strong>忠信仁义，以人为本。</strong>&nbsp;<br />
              忠：即忠诚，包括三重含义：企业忠于国家、忠于民族；企业忠于客户；员工忠于企业。&nbsp;<br />
              信：即诚信，做企业要立足根本道德、信义，要诚实、讲信用。&nbsp;<br />
              仁：即仁爱，上司对下属要仁爱、体贴，同事之间要关怀、友爱。&nbsp;<br />
              义：即大义，公司在与合作伙伴、客户的交往过程中，不做损人利己的事，维护自己利益的前提是不损害他人利益；对民族、社会要共襄义举，要识大义，明是非。&nbsp;<br />
              以人为本：公司的软、硬环境的设计和管理都应满足人性化的要求，让人性化的关怀触手可及。<br />
              <br />
              <strong>公司精神:</strong>团队精神 创新精神 挑战精神 奉献精神</p>
            <p><strong>企业宗旨：</strong>诚信为本，稳健经营</p>
            <p><strong>企业价值观：</strong>与客户同忧乐</p>
            <p><strong>企业使命：</strong>造福社会大众，振兴民族产业</p>
            <p><strong>企业目标：</strong>与时俱进，争创一流</p>
            <p><strong>企业作风：</strong>严谨高效，热情周到</p>
            <p><strong>生存理念：</strong>漠视危机就是扼杀生机</p>
            <p><strong>用人理念：</strong>能力决定岗位，贡献决定价值</p>
            <p><strong>教育培训理念：</strong>让员工更出色，使公司更卓越</p>
            <p><strong>市场理念：</strong>市场是创造出来的</p>
            <p><strong>销售理念：</strong>执著源于爱心，信誉成就业绩</p>
            <p><strong>竞争理念：</strong>抢占先机，一往无前</p>
            <p><strong>服务理念：</strong>用专业和真诚获得感动</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="footer">
	<p>陕 ICP备3523656443号</p>
</div>
</body>
</html>
