@charset "utf-8";
@import url("reset.css");
@import url("text.css");
html,body{
      -webkit-text-size-adjust:none;
}
body {font-size:12px; font-family:"微软雅黑"}
a{color:#333333; }
a:link, a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
#header ,
#header .top,
#header .topLink .login ,
#header .topLink .qna ,
#header .topLink .sitemap ,
#header .navigation,
#header .topLink span ,
#header .icon,
#header .logo,
#indexRight .list .tab,
#indexRight .list .tab.active,
#indexRight .list .more,
#indexRight .vision .i ,
#indexRight .histroy .i,
#footer,
#footer .button,
#footer .siteLink .lang_info,
#footer .czSite .combobox_txt ,
#footer .siteLink .lang_go,
#container .line {background-image:url("../images/bg.png"); background-color:transparent; background-repeat:no-repeat;}


#header {position:relative; height:120px; margin-bottom:5px; height:130px; color:#333333; background-position:0 -200px;}
	#header .top { position:absolute; top:0; left:86px; width:850px; height:50px; background-position:0 0;}
	#header .sitemap_main{position:absolute; display:block; left:360px; width:130px; height:40px;}
	#header .topLink {float:right; width:270px; height:15px; padding-top:5px;}
		.topLink a {display:block; float:left; text-indent:-999em;}
		.topLink span { display:block; float:left;width:122px;text-indent:-999em;background-position:-210px -55px;}
		.topLink .home {width:40px;}
		.topLink .contact{width:70px; margin-left:10px;}
		.topLink .login{width:45px;background-position:-332px -55px;}
		.topLink .qna{width:40px;background-position:-377px -55px;}
		.topLink .sitemap{width:60px;background-position:-417px -55px;}
	#header .logo { position:absolute;top:50px; left:40px; height:50px; width:160px; background-position:0 -50px;}
	#header .navigation {position:absolute; top:40px; left:220px; height:100px; width:680px; background-position:0 -100px;}
		.navigation ul {margin:0;list-style:none;}
		.navigation ul li {float:left; margin:0;}
		.navigation ul li a {text-shadow:2px 2px 10px #909090;/*opera或ie9*/}
		.navigation ul li a:hover {text-decoration:none;color:#FFC}
		.navigation .main {font-size:14px; padding-top:35px; padding-left:65px; height:30px; line-height:30px;}
		.navigation .main .f16 a{display:block; padding:0 20px; color:#FFF; font-size:15px; font-weight:bold;}
		.navigation .main .spilt {font-size:10px; color:#FFF;}
		.navigation .main .main_li {position:relative;}
		.navigation .main .main_li a {display:block; padding:0 20px; color:#FFF; text-decoration:none;}
		.navigation .main .main_li .icon {position:absolute;height:20px; left:38px; top:23px; width:20px; background-position:-600px -60px; display:none;}
		.navigation .sub { height:30px; padding-left:110px; display:none;}
		.navigation .sub li  {line-height:30px;}
		.navigation .sub li a {display:block; padding:0 15px;  color:#FFF; text-decoration:none; font-size:13px;}


#footer { text-align:center; height:180px; background-position:0 -350px;}
#footer .copy { padding-top:75px; padding-left:20px; padding-right:5px; float:left;}
#footer .copy p {padding:0; margin:0; text-align:left; font-size:11px; line-height:14px; color:#9a9a9a}
#footer .button {margin-top:72px; width:250px; float:left; height:20px; background-position:0 -550px;}
#footer .button .btn1,
#footer .button .btn2{ float:left; display:block; height:18px; line-height:18px; text-decoration:none;color:#333; text-align:center; font-size:11px;}
#footer .button .btn1 {width:65px;}
#footer .button .btn2 {width:95px;}
#footer .siteLink {float:right;margin-top:72px; width:280px; height:20px;}
#footer .siteLink .lang_info { float:left; background-position:0 -576px; width:80px; text-indent:-9999em; overflow:hidden;}
#footer .siteLink .lang_box {float:left; width:155px; padding-top:2px;}
#footer .siteLink .lang_go {float:left; background-position:-245px -575px; width:40px; height:20px; cursor:pointer;}
#footer #site-language {height:22px;font: 12px Tahoma, sans-serif; padding:2px;}
#footer .czSite {width:152px; height:20px; color:#000; background-position:0 0; text-align:left;}
#footer .czSite .combobox_txt {background-position:-88px -577px; padding:0 20px 0 10px; height:18px; line-height:18px; width:122px; border:0; font-size:12px; color:#666;}
#footer .czSite .box_hover, 
#footer .czSite .box_focus {cursor:default;}
#footer .czSite .combobox_list {overflow:auto;margin:0; padding:0; list-style:none; color:#000; width:150px; background:#fff; border:1px solid #e3e3e3; left:0; position:absolute;}
#footer .czSite li {margin:0;padding:0 0 0 8px;list-style:none; cursor:pointer;}
#footer .czSite li.li_hover {background-color:#CCC;}


#indexLeft {float:left; width:650px;}
#indexRight {float:left; width:285px;}
#indexRight h4 {font-size:12px; padding:0; margin:0; color:#242424;}
#indexRight p {color:#a3a3a3;}
#indexRight .list { height:120px;}
#indexRight .list .more{float:right; background-position:-585px -550px; height:18px; width:40px;}
#indexRight .list .more a { text-indent:-999em; display:block;}
#indexRight .list .tab_w {padding-top:15px; height:20px; border-bottom:1px solid #CCC;}
#indexRight .list .tab {float:left; height:18px; padding-top:2px; line-height:18px; width:66px; padding-left:3px; background-position:-419px -550px; cursor:pointer; color:#FFF; font-weight:bold;}
#indexRight .list .panel { display:none;}
#indexRight .list .tab.active{background-position:-351px -550px;}
#indexRight .list .li {height:22px; line-height:22px; padding-left:10px; padding-right:10px;}
#indexRight .list .li.even {background-color:#f4f4f4;}
#indexRight .list .time {float:right; color:#BBB; font-size:10px;}
#indexRight .list .title {float:left; color:#666;}


#indexRight .scroll { height:140px; position:relative;}
#indexRight .vision { height:90px;}
#indexRight .vision .p {width:215px; float:left;}
#indexRight .vision .i {width:70px; float:left; height:90px; background-position: -890px -550px;}
#indexRight .histroy { height:150px;}
#indexRight .histroy .p {float:left; width:125px; padding-top:40px; }
#indexRight .histroy .i {width:160px; height:140px;float:left; background-position: -690px -550px; }



#sideBar {float:left; width:200px; height:400px;background-image:url("../images/bg_left.gif"); background-repeat:no-repeat; position:relative}
#sideBar .s {position:absolute; font-size:14px; padding-left:50px;}
#sideBar .s a{text-decoration:none; color:#999;}
#sideBar .active a, #sideBar .hover a{color:#333;font-size:16px;}
#sideBar .active,#sideBar .hover {background-image:url("../images/bg_left.gif");background-repeat:no-repeat; background-position:0 -400px; height:26px; width:120px;}
#sideBar .s1 {left:18px; top:60px;}
#sideBar .s2 {left:28px; top:86px; }
#sideBar .s3 {left:35px; top:115px;}
#sideBar .s4 {left:34px; top:141px;}
#sideBar .s5 {left:26px; top:168px;}
#sideBar .t1 {left:32px;top:256px;}
#sideBar .t2 {left:32px;top:306px;}
#sideBar .t1 p , #sideBar .t2 p {font-size:10px;color:#999;}
#container {float:left; height:400px; width:720px;}

#container .nav-bar{ text-align:right; padding-top:20px; color:#666; padding-right:10px;}
#container .nav-bar .home{background-image:url("../images/bg_left.gif");background-repeat:no-repeat; height:10px; display:inline-block; width:20px; background-position:-15px -460px; background-position:-15px -457px;}
#container .nav-bar .target {color:#ffb400;}
#container .title{ width:120px; float:left; text-align:right;}
#container .title h2 {margin:0; padding:0; font-size:18px;}
#container .line {float:left; width:600px; background-position:0 -650px; height:20px; margin-top:8px;}
#container .content {padding-left:40px; padding-right:0px; padding-top:20px;}
.w1024 {margin:0 auto; width:1024px;}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

#slides {position:absolute;top:20px;z-index:100;}
#slides .next,#slides .prev {position:absolute;top:25px;left:0px;width:15px;height:51px;display:block;z-index:101;background-image:url("../images/bg.png"); background-color:transparent; background-repeat:no-repeat;}
.slides_container {width:285px;height:95px;overflow:hidden;position:relative;}
#slides .prev { background-position:0 -600px;}
#slides .next { background-position:-260px -600px; left:270px;}
.pagination { position:absolute; top:-18px; right:0px;width:52px; margin:0;}
.pagination li {float:left;margin:0 1px; list-style:none;}
.pagination li a {display:block;width:15px;height:15px;float:left;overflow:hidden; background-color:#d5d5d5; text-align:center; font-size:10px; color:#FFF; font-weight:bold;}
.pagination li a:hover {text-decoration:none;}
.pagination li.current a {background-color:#F00;}
