<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="../css/layout.css" />
<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.czTab.js"></script>
<title>无标题文档</title>
</head>

<body>
<div id="container">
	<div id="header" class="w980">
    	<div class="top-bar">
        	<ul class="top-bar-link">
            	<li><a href="#">市委</a></li>
                <li><a href="#">市人大</a></li>
                <li><a href="#">市政府</a></li>
                <li><a href="#">市政协</a></li>
            </ul>
            <ul class="top-bar-help">
            	<li><a href="#">设为首页</a></li>
                <li><a href="#">加入收藏</a></li>
            </ul>
        </div>
        <div class="banner"><img src="../images/lzzfbz/banner.jpg" /></div>
        <div class="nav-bar" >
        	<ul id="main-nav">
            	<li><a class="focus" href="#">网站首页</a></li>
                <li class="split"></li>
                <li><a href="#">机构设置</a></li>
                <li class="split"></li>
                <li><a href="#">政策法规</a></li>
                <li class="split"></li>
                <li><a href="#">项目建设</a></li>
                <li class="split"></li>
                <li><a href="#">房源展示</a></li>
                <li class="split"></li>
                <li><a href="#">办事指南</a></li>
                <li class="split"></li>
                <li><a href="#">网上查询</a></li>
                <li class="split"></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
            <div id="time-nav">2012年7月2日 星期一</div>
        </div>
        
        <div class="notice-bar" >
        	<div class="notice"><a href="#">这里是柳州市保障住房网网站公告，这里是柳州市保障住房网网站公告,这里是柳州.....</a></div>
            <div class="search">
            	<form action="" method="get">
                	<div class="txt">站内检索：</div>
                    <div class="searchwrap"><input type="text" name="search" class="search-box" value="请输入搜索关键字" onfocus="if(this.value=='请输入搜索关键字')value=''" onblur="if(this.value=='')value='请输入搜索关键字'" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="搜索" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="高级搜索" /></div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="indexContent" class="w980">
    	<div class="index-main">
        	<div class="column">
            	<div id="flash">
                	Flash 区块
                </div>
                <div id="tab-area">
                	<div class="tab-wrap">
                    	<div class="tab active">工作动态</div>
                        <div class="tab">公示信息</div>
                        <div class="tab">相关报道</div>
                    </div>
                    <div class="panel-wrap">
                    	<div class="panel" style="display:block;">
                        	<div class="main"><a href="#">柳州市社会保障性住房部门官方网站正式上线</a></div>
                            <ul class="art">
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>  
                            </ul>
                        </div>
                        <div class="panel">
                        	<div class="main"><a href="#">Panel 2</a></div>
                            <ul class="art">
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>  
                            </ul>
                        </div>
                        <div class="panel">
                        	<div class="main"><a href="#">Panel 3</a></div>
                            <ul class="art">
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">第五批保障性租赁房2009年12月21日选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>
                                <li><span class="time">07-04</span><a href="#">2010年1月27日保障性租赁房选房情况公示...</a></li>  
                            </ul>
                        </div>
                    </div>
                    
                    <script>$("#tab-area").czTab({eventType:'mouseenter'});</script>
                </div>
                <div class="clear"></div>
            </div>
        	<div class="about-us">
            	<div class="about fl">
                	社会保障性住房是柳州市委、市政府贯彻《国务院关于解决低收入家庭住房困难的若干意见》（国发〔2007〕24号文）精神，解放思想、创新思路，为破解...<a href="#">[查看详情]</a>
                </div>
                <div class="develop fl">
                	本规划的编制目标为：2007年底前，全面启动廉租住房制度，对符合规定住房困难条件、申请廉租住房和租赁住房补贴的城市低保家庭做到"应保尽保"。"十一五"期末，全市廉租住房制度保障范围要由城市最低收入住房困难家庭......<a href="#">[查看详情]</a>
                </div>
            </div>

            <div class="column1 alpha">
            	<div class="title">
                	<h4>政策法规</h4>
                    <a class="more" href="#">+更多</a>
                </div>
                <ul class="art">
                	<li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于保障性住房分配涉...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市限价商品住房管理办法（试行）》 ...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于进一步加快公共租...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府办公厅关于印发厦门市限...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市社会保障性住房管理条例》释义...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">关于印发《柳州市公务人员保障性租赁房 ...</a></li>   
                </ul>
            </div>
            
            <div class="column1">
            	<div class="title">
                	<h4>工作简报</h4>
                    <a class="more" href="#">+更多</a>
                </div>
                <ul class="art">
                	<li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于保障性住房分配涉...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市限价商品住房管理办法（试行）》 ...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于进一步加快公共租...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府办公厅关于印发厦门市限...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市社会保障性住房管理条例》释义...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">关于印发《柳州市公务人员保障性租赁房 ...</a></li>   
                </ul>
            </div>
            
            <div class="column1 alpha">
            	<div class="title">
                	<h4>政策答疑</h4>
                    <a class="more" href="#">+更多</a>
                </div>
                <ul class="art">
                	<li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于保障性住房分配涉...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市限价商品住房管理办法（试行）》 ...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于进一步加快公共租...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府办公厅关于印发厦门市限...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市社会保障性住房管理条例》释义...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">关于印发《柳州市公务人员保障性租赁房 ...</a></li>   
                </ul>
            </div>
            
            <div class="column1">
            	<div class="title">
                	<h4>意见反馈</h4>
                    <a class="more" href="#">+更多</a>
                </div>
                <ul class="art">
                	<li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于保障性住房分配涉...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市限价商品住房管理办法（试行）》 ...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府关于进一步加快公共租...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">柳州市人民政府办公厅关于印发厦门市限...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">《柳州市社会保障性住房管理条例》释义...</a></li>
                    <li><span class="time">[02/04]</span><a href="#">关于印发《柳州市公务人员保障性租赁房 ...</a></li>   
                </ul>
            </div>
            
            <div class="clear"></div>
            <div class="column2">
            	<div class="title">
                	<h3>项目建设</h3>
                    <a href="#" class="more">进入频道</a>
                </div>
                <div class="redbox">
                	<div class="map"><img src="../images/lzzfbz/index/map.gif" width="500" height="400" /></div>
                    <div id="scrollwrap">
                    	<div id="scroll_1">
                    	<ul>
                        	<li><img src="../images/lzzfbz/index/scroll_1.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_2.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_3.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_4.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_5.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_6.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_1.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_2.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_3.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                            <li><img src="../images/lzzfbz/index/scroll_4.gif" />某某花园<br />某某区<font color="red">[已竣工]</font></li>
                        </ul>
                        </div>
                        <div id="scroll_2"></div>
                    </div>
                    <script>
					var speed=30
					scroll_2.innerHTML = scroll_1.innerHTML
					function Marquee(){
						if(scroll_2.offsetTop - scrollwrap.scrollTop<=0)
							scrollwrap.scrollTop -= scroll_1.offsetHeight
						else
							scrollwrap.scrollTop++
					}
					var MyMar=setInterval(Marquee,speed)
					scrollwrap.onmouseover=function() {clearInterval(MyMar)}
					scrollwrap.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
					</script>
                    <div class="clear"></div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="index-sidebar">
        	<div id="login-box" class="box">
            	<div class="title"><h4>管理登陆</h4></div>
                <div class="login-wrap">
                	<form method="post" action="">
                	<div class="fl h40 w50">用户名：</div>
                    <div class="fl h40"><input type="text" class="txt" name="username" /></div>
                    <div class="clear"></div>
                    <div class="fl h40 w50">密&nbsp;&nbsp;&nbsp;&nbsp;码：</div>
                    <div class="fl h40"><input type="text" class="txt" name="password" /></div>
                    <div class="clear"></div>
                    <div class="fl h40 w50">验证码：</div>
                    <div class="fl h40"><input type="text" class="txt" name="checkcode" style="width:60px;" /></div>
                    <div class="clear"></div>
                    <div class="fl h40 w50"></div>
                    <div class="fl h40"><input type="submit" class="btn" /></div>
                    <div class="clear"></div>
                    </form>
                </div>
            </div>
            
            <div id="service-box" class="box">
            	<div class="title"><h4 style="font-size:12px;">柳州市住房和城乡建设委员会保障科</h4></div>
                <ul>
                	<li>保障性住房（廉租房、经济适用房）<br />
                    咨询电话：2809430<br />
                    
                    <li>投诉电话：2823178 </li>
                </ul>
            </div>
            
            <div class="box" align="center" style="padding:2px 0"><img src="../images/lzzfbz/index/side_1.gif" /></div>
            
            <div class="box" align="center" style="padding:2px 0"><img src="../images/lzzfbz/index/side_2.gif" /></div>
            
            <div class="box" align="center" style="padding:2px 0"><img src="../images/lzzfbz/index/side_3.gif" /></div>
            
            <div id="item-box" class="box">
            	<div class="title"><h4>办事指南</h4><a class="more" href="#">更多 &gt;&gt;</a></div>
                <ul>
                	<li><a href="">柳州市市经济适用房申请表...</a></li>
                    <li><a href="">社会保障性住房名称调整的通知...</a></li>
                    <li><a href="">经济适用房申请流程图...</a></li>
                    <li><a href="">申请经济适用住房的程序...</a></li>
                    <li><a href="">申请购买经济适用住房申请条件...</a></li>
                    <li><a href="">申购经济适用住房需提供的材料...</a></li>
                    <li><a href="">保障性商品房申请须知...</a></li>
                    <li><a href="">保障性商品房申请应提交的材料...</a></li>
                </ul>
            </div>
            
            <div id="link-box" class="box">
            	<div class="title"><h4>友情链接</h4></div>
                <div align="center" style="padding:4px 0"><img src="../images/lzzfbz/index/link_1.gif" /></div>
                <div align="center" style="padding:4px 0"><img src="../images/lzzfbz/index/link_2.gif" /></div>
                <div align="center" style="padding:4px 0"><img src="../images/lzzfbz/index/link_3.gif" /></div>
                <div align="center" style="padding:4px 0"><img src="../images/lzzfbz/index/link_4.gif" /></div>
                <div align="center" style="padding:4px 0"><img src="../images/lzzfbz/index/link_5.gif" /></div>
                <div align="center" style="padding:3px 0">
                	<select><option>柳州市住房保障网</option></select>
                </div>
                <div align="center" style="padding:3px 0"><select><option>相关媒体网站链接</option></select></div>
                <div align="center" style="padding:3px 0"><select><option>政府网站链接</option></select></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer" class="w980">
    	<div class="foot-link">
        	<ul>
            	<li><a class="first" href="#">网站首页</a></li>
                <li><a href="#">机构设置</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">项目建设</a></li>
                <li><a href="#">房源展示</a></li>
                <li><a href="#">办事指南</a></li>
                <li><a href="#">网上查询</a></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
        </div>
        <div class="copyright">
        <p>主办：柳州市保障性安居工程办公室，协办：柳州市住房和城乡建设委员会<br />地址：广西柳州市八一路77号，邮编：545001</p>
        </div>
    </div>
</div>
</body>
</html>
