<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="../css/layout.css" />
<link rel="stylesheet" href="../css/jquery.treeview.css" />
<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.czTab.js"></script>
<script type="text/javascript" src="../js/jquery.treeview.js"></script>
<title>无标题文档</title>
</head>

<body>
<div id="container">
	<div id="header" class="w980">
    	<div class="top-bar">
        	<ul class="top-bar-link">
            	<li><a href="#">市委</a></li>
                <li><a href="#">市人大</a></li>
                <li><a href="#">市政府</a></li>
                <li><a href="#">市政协</a></li>
            </ul>
            <ul class="top-bar-help">
            	<li><a href="#">设为首页</a></li>
                <li><a href="#">加入收藏</a></li>
            </ul>
        </div>
        <div class="banner"><img src="../images/lzzfbz/banner.jpg" /></div>
        <div class="nav-bar" >
        	<ul id="main-nav">
            	<li><a class="focus" href="#">网站首页</a></li>
                <li class="split"></li>
                <li><a href="#">机构设置</a></li>
                <li class="split"></li>
                <li><a href="#">政策法规</a></li>
                <li class="split"></li>
                <li><a href="#">项目建设</a></li>
                <li class="split"></li>
                <li><a href="#">房源展示</a></li>
                <li class="split"></li>
                <li><a href="#">办事指南</a></li>
                <li class="split"></li>
                <li><a href="#">网上查询</a></li>
                <li class="split"></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
            <div id="time-nav">2012年7月2日 星期一</div>
        </div>
        
        <div class="notice-bar" >
        	<div class="notice"><a href="#">这里是柳州市保障住房网网站公告，这里是柳州市保障住房网网站公告,这里是柳州.....</a></div>
            <div class="search">
            	<form action="" method="get">
                	<div class="txt">站内检索：</div>
                    <div class="searchwrap"><input type="text" name="search" class="search-box" value="请输入搜索关键字" onfocus="if(this.value=='请输入搜索关键字')value=''" onblur="if(this.value=='')value='请输入搜索关键字'" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="搜索" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="高级搜索" /></div>
                </form>
            </div>
        </div>
    </div>

    <div class="wrap-list w980">
    	<div class="wrap-head">
        	<div class="left" style="height:20px;"></div>
            <div class="right">
            	<div class="tab-wrap">
                	<div class="tab active">政策法规</div>
                </div>
                <!--<div class="bar-wrap">
                        <a href="#">首页</a> &gt; <a href="#">政策法规</a> 
                    </div>-->
            </div>
            <div class="clear"></div>
        </div>
    	<div class="wrap-body">
        	<div class="left">
            	<div class="sidebar">
                    <div id="login-box" class="box">
                        <div class="title"><h4>管理登陆</h4></div>
                        <div class="login-wrap">
                            <form method="post" action="">
                            <div class="fl h40 w50">用户名：</div>
                            <div class="fl h40"><input type="text" class="txt" name="username" /></div>
                            <div class="clear"></div>
                            <div class="fl h40 w50">密&nbsp;&nbsp;&nbsp;&nbsp;码：</div>
                            <div class="fl h40"><input type="text" class="txt" name="password" /></div>
                            <div class="clear"></div>
                            <div class="fl h40 w50">验证码：</div>
                            <div class="fl h40"><input type="text" class="txt" name="checkcode" style="width:60px;" /></div>
                            <div class="clear"></div>
                            <div class="fl h40 w50"></div>
                            <div class="fl h40"><input type="submit" class="btn" /></div>
                            <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                    
                    <div id="service-box" class="box">
                        <div class="title"><h4>咨询与投诉电话</h4></div>
                        <ul>
                            <li><strong>咨询电话</strong><br />
                            保障性租赁房(廉租房)：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;5106000、2098866<br />
                            经济适用房、保障性商品房：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;5106000、2232624 </li>
                            <li><strong>投诉电话</strong><br />
                            市长专线：968123<br />
                            市效能投诉中心：5111510<br />
                            国土局纪委监察室：5108056<br />
                            建设与管理局监察室：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;8122691、2200644 </li>
                        </ul>
                    </div>
                    
                    <div id="item-box" class="box">
                        <div class="title"><h4>办事指南</h4><a class="more" href="#">更多 &gt;&gt;</a></div>
                        <ul>
                            <li><a href="">柳州市市经济适用房申请表...</a></li>
                            <li><a href="">社会保障性住房名称调整的通知...</a></li>
                            <li><a href="">经济适用房申请流程图...</a></li>
                            <li><a href="">申请经济适用住房的程序...</a></li>
                            <li><a href="">申请购买经济适用住房申请条件...</a></li>
                            <li><a href="">申购经济适用住房需提供的材料...</a></li>
                            <li><a href="">保障性商品房申请须知...</a></li>
                            <li><a href="">保障性商品房申请应提交的材料...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
            	<div class="art-list">
                	<ul>
                    	<li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于保障性住房分配涉及住房货币化补贴问题的批复</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市限价商品住房管理办法（试行）》解读</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于进一步加快公共租赁住房建设的实施意见 </a></li>  
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府办公厅关于印发 柳州市限价商品住房管理办法（试行）的通知</a></li>  
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市社会保障性住房管理条例》释义</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">关于印发《 柳州市公务人员保障性租赁房选房操作办法》的通知 </a></li>  
                    </ul>
                </div>
                
                <div class="list-title">
                	<div class="tab-wrap">
                        <div class="tab active">政策法规</div>
                    </div>
                    <!--<div class="bar-wrap">
                        <a href="#">首页</a> &gt; <a href="#">政策法规</a> 
                    </div>-->
                </div>
                <div class="art-list">
                	<ul>
                    	<li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于保障性住房分配涉及住房货币化补贴问题的批复</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市限价商品住房管理办法（试行）》解读</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于进一步加快公共租赁住房建设的实施意见 </a></li>  
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府办公厅关于印发 柳州市限价商品住房管理办法（试行）的通知</a></li>  
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市社会保障性住房管理条例》释义</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">关于印发《 柳州市公务人员保障性租赁房选房操作办法》的通知 </a></li>  
                    </ul>
                </div>
                
                <div class="list-title">
                	<div class="tab-wrap">
                        <div class="tab active">政策法规</div>
                    </div>
                    <!--<div class="bar-wrap">
                        <a href="#">首页</a> &gt; <a href="#">政策法规</a> 
                    </div>-->
                </div>
                <div class="art-list">
                	<ul>
                    	<li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于保障性住房分配涉及住房货币化补贴问题的批复</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市限价商品住房管理办法（试行）》解读</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于进一步加快公共租赁住房建设的实施意见 </a></li>  
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府办公厅关于印发 柳州市限价商品住房管理办法（试行）的通知</a></li>  
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市社会保障性住房管理条例》释义</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">关于印发《 柳州市公务人员保障性租赁房选房操作办法》的通知 </a></li>  
                    </ul>
                </div>
                
                <div class="list-title">
                	<div class="tab-wrap">
                        <div class="tab active">政策法规</div>
                    </div>
                    <!--<div class="bar-wrap">
                        <a href="#">首页</a> &gt; <a href="#">政策法规</a> 
                    </div>-->
                </div>
                <div class="art-list">
                	<ul>
                    	<li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于保障性住房分配涉及住房货币化补贴问题的批复</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市限价商品住房管理办法（试行）》解读</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府关于进一步加快公共租赁住房建设的实施意见 </a></li>  
                        <li><span class="time">2012-07-03</span><a href="">柳州市人民政府办公厅关于印发 柳州市限价商品住房管理办法（试行）的通知</a></li>  
                        <li><span class="time">2012-07-03</span><a href="">《 柳州市社会保障性住房管理条例》释义</a></li> 
                        <li><span class="time">2012-07-03</span><a href="">关于印发《 柳州市公务人员保障性租赁房选房操作办法》的通知 </a></li>  
                    </ul>
                </div>
                <!--
                <div class="page">
                    共[20]条记录&nbsp;&nbsp;|&nbsp;&nbsp;共[1]页&nbsp;&nbsp;<a href="#">[&lt;&lt;]</a>&nbsp;&nbsp;<a href="#">[&lt;]</a>&nbsp;&nbsp;1&nbsp;&nbsp;<a href="#">[&gt;]</a>&nbsp;&nbsp;<a href="#">[&gt;&gt;]</a>&nbsp;&nbsp;<select><option>1</option></select>
                </div>-->
            </div>
            <div class="clear"></div>
            <div style="height:1px;"></div>
        </div>
        <script>$("#house-map").czTab({eventType:'mouseenter'});</script>
    </div>
    <div id="footer" class="w980">
    	<div class="foot-link">
        	<ul>
            	<li><a class="first" href="#">网站首页</a></li>
                <li><a href="#">机构设置</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">项目建设</a></li>
                <li><a href="#">房源展示</a></li>
                <li><a href="#">办事指南</a></li>
                <li><a href="#">网上查询</a></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
        </div>
        <div class="copyright">
        <p>主办：柳州市保障性安居工程办公室，协办：柳州市住房和城乡建设委员会<br />地址：广西柳州市八一路77号，邮编：545001</p>
        </div>
    </div>
</div>
</body>
</html>
