<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="../css/layout.css" />
<link rel="stylesheet" href="../css/jquery.treeview.css" />
<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.czTab.js"></script>
<script type="text/javascript" src="../js/jquery.treeview.js"></script>
<title>无标题文档</title>
</head>

<body>
<div id="container">
	<div id="header" class="w980">
    	<div class="top-bar">
        	<ul class="top-bar-link">
            	<li><a href="#">市委</a></li>
                <li><a href="#">市人大</a></li>
                <li><a href="#">市政府</a></li>
                <li><a href="#">市政协</a></li>
            </ul>
            <ul class="top-bar-help">
            	<li><a href="#">设为首页</a></li>
                <li><a href="#">加入收藏</a></li>
            </ul>
        </div>
        <div class="banner"><img src="../images/lzzfbz/banner.jpg" /></div>
        <div class="nav-bar" >
        	<ul id="main-nav">
            	<li><a class="focus" href="#">网站首页</a></li>
                <li class="split"></li>
                <li><a href="#">机构设置</a></li>
                <li class="split"></li>
                <li><a href="#">政策法规</a></li>
                <li class="split"></li>
                <li><a href="#">项目建设</a></li>
                <li class="split"></li>
                <li><a href="#">房源展示</a></li>
                <li class="split"></li>
                <li><a href="#">办事指南</a></li>
                <li class="split"></li>
                <li><a href="#">网上查询</a></li>
                <li class="split"></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
            <div id="time-nav">2012年7月2日 星期一</div>
        </div>
        
        <div class="notice-bar" >
        	<div class="notice"><a href="#">这里是柳州市保障住房网网站公告，这里是柳州市保障住房网网站公告,这里是柳州.....</a></div>
            <div class="search">
            	<form action="" method="get">
                	<div class="txt">站内检索：</div>
                    <div class="searchwrap"><input type="text" name="search" class="search-box" value="请输入搜索关键字" onfocus="if(this.value=='请输入搜索关键字')value=''" onblur="if(this.value=='')value='请输入搜索关键字'" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="搜索" /></div>
                    <div class="searchwrap"><input type="submit" class="search-btn" value="高级搜索" /></div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="advanced-search" class="w980">
    	<div style="padding-left:15px;">
        	<font color="red">房源搜索：</font> <input type="text" value="" size="60" class="search-box" />
            <input type="submit" class="search-btn" value="查询" />
            <input type="button" class="search-btn" value="更多条件" />
        </div>
        <fieldset>
            <legend>高级条件</legend>
            <div>
            <label>申请类型：</label><input type="checkbox" value="" /> 销售 <input type="checkbox" value="" /> 租赁
            </div>
            <div>
            <label>所在区域：</label><input type="checkbox" value="" /> 地中区 <input type="checkbox" value="" /> 柳南区 <input type="checkbox" value="" /> 柳北区 <input type="checkbox" value="" /> 鱼峰区
            </div>
            <div>
            <label>单元户型：</label><input type="checkbox" value="" /> 1房型 <input type="checkbox" value="" /> 2房型 <input type="checkbox" value="" /> 3房型
            </div>
            <div>
            <label>单元朝向：</label><input type="radio" value="" checked="checked" name="chao" /> 全部 <input name="chao" type="radio" value="" /> 朝南 <input type="radio" name="chao" value="" /> 不朝南
            </div>
            <div>
            <label>所在楼层：</label><input type="text" value="" size="4" />到<input type="text" value="" size="4" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>是否顶层：</label><input type="radio" value="" name="istop" checked="checked" /> 全部 <input type="radio" value="" name="istop" /> 顶层 <input type="radio" value="" name="istop" /> 非顶层
            </div>
        </fieldset>
    </div>
    
    <div id="house-map" class="wrap-list w980">
    	<div class="wrap-head">
        	<div class="left">
                <div class="left-title">
                    <h3>分类列表查找</h3>
                </div>
            </div>
            <div class="right">
            	<div class="tab-wrap">
                    <div class="tab active">房源分布</div>
                    <div class="tab">房源列表</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    	<div class="wrap-body">
        	<div class="left">
            	<div class="left-tree">
                	<div class="roottree">搜索结果</div>
            		<ul id="tree" class="filetree">
                        <li><span class="folder">城中区</span>
                            <ul>
                                <li><span class="file"><a href="#">效果公寓一</a></span></li>
                                <li><span class="file"><a href="#">效果公寓二</a></span></li>
                                <li><span class="file"><a href="#">效果公寓三</a></span></li>
                            </ul>
                        </li>
                        <li><span class="folder">柳南区</span>
                            <ul>
                                <li><span class="file"><a href="#">效果公寓一</a></span></li>
                                <li><span class="file"><a href="#">效果公寓二</a></span></li>
                                <li><span class="file"><a href="#">效果公寓三</a></span></li>
                            </ul>
                        </li>
                        <li><span class="folder">柳北区</span>
                            <ul>
                                <li><span class="file"><a href="#">效果公寓一</a></span></li>
                                <li><span class="file"><a href="#">效果公寓二</a></span></li>
                                <li><span class="file"><a href="#">效果公寓三</a></span></li>
                            </ul>
                        </li>
                        <li><span class="folder">鱼峰区</span>
                            <ul>
                                <li><span class="file"><a href="#">效果公寓一</a></span></li>
                                <li><span class="file"><a href="#">效果公寓二</a></span></li>
                                <li><span class="file"><a href="#">效果公寓三</a></span></li>
                                <li><span class="file"><a href="#">效果公寓四</a></span></li>
                                <li><span class="file"><a href="#">效果公寓五</a></span></li>
                                <li><span class="file"><a href="#">效果公寓六</a></span></li>
                            </ul>
                        </li>
                    </ul>
                    <script>$("#tree").treeview()</script>
            	</div>
            </div>
            <div class="right">
            	<div class="panel-wrap">
                	<div class="panel" style="display:block;"><img src="../images/lzzfbz/map/01.jpg" width="695" height="607" /></div>
                    <div class="panel"><img src="../images/lzzfbz/map/02.jpg" width="695" height="607" /></div>
                </div>
            </div>
            <div class="clear"></div>
            <div style="height:1px;"></div>
        </div>
        <script>$("#house-map").czTab({eventType:'mouseenter'});</script>
    </div>
    <div id="footer" class="w980">
    	<div class="foot-link">
        	<ul>
            	<li><a class="first" href="#">网站首页</a></li>
                <li><a href="#">机构设置</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">项目建设</a></li>
                <li><a href="#">房源展示</a></li>
                <li><a href="#">办事指南</a></li>
                <li><a href="#">网上查询</a></li>
                <li><a href="#">意见反馈</a></li>
            </ul>
        </div>
        <div class="copyright">
        <p>主办：柳州市保障性安居工程办公室，协办：柳州市住房和城乡建设委员会<br />地址：广西柳州市八一路77号，邮编：545001</p>
        </div>
    </div>
</div>
</body>
</html>
