<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Title</title>
<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
<div id="container">
    <div id="header">
        <div id="nav">
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">最新活动</a></li>
                <li><a href="#">婚纱礼服</a></li>
                <li><a href="#">套系价格</a></li>
                <li><a href="#">店面形象</a></li>
                <li><a href="#">唯美新娘</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="page">
            <div class="article">
            <p>
                福州岚岛装饰工程有限公司注册于2007年，公司注册资金510万元。是一家专业从事大中型企业办公室、写字楼、商业场所的装修及其配套建设服务公司。公司自成立以来，经过多年的市场洗礼，凝聚了一批资深专业室内设计师，结构、电气、给排水等专业的工程师，网络工程师、布线工程师等技术人才，并且拥有经验丰富、做工精良的装饰装修、综合布线的安装施工团队。
            </p>
            <p>
                公司成立多年来一直以"客户至上，服务第一"为原则，凭着人性化思维的设计理念，严格按照IS09001质量标准进行管理，秉承"工作，为了更好的生活"之理念，本着"与客户共发展"的宗旨，竭诚为广大客户提供最优秀的设计、最优美的环境和最优质的服务，以不辜负客户对我们的信任。
            </p>
            <p>
                公司自设厂房位于福州新店镇，拥有全自动开料机、封边机、排钻、烤漆房等设备，专业设计生产各种展示专柜及办公家具，为公司的工程提供配套的后勤服务，进一步地完善了业务体系，降低了营运成本，并以低价高质及良好的服务取得了众多客户的信赖！让我们能从容地迎接装修市场的激烈竞争。随着市场的竞争加剧，岚岛人将以更主动完善内部管理体系的实际行动为客户提供更有品味的装修设计，更有竞争力的价格，满意的品质；不断为更多的客户带来满意而努力。
            </p>
            <p>
                岚岛装饰现已成为福州市大中型企业办公装修领域的知名装饰企业，这源自于我们合理的价格与优质的施工质量在客户中赢得了良好的信誉。公司以准确的经营定位、独特的经营模式、以人为的管理理念，使公司健康持续发展，使岚岛装饰的品牌形象深入人心。
            </p>
            <p>
                岚岛人珍惜来之不易的今天，更憧憬辉煌的明天。我们承诺"以专业装修经验、合理的价格、优质的施工质量"为客户创造舒适健康的使用环境。岚岛装饰为您提供专业的服务，是您明智的选择！
            </p>
            <p>
                地址：福州市晋安区金鸡山路28号一幢
            </p>
            <p>
                电话：87811008&nbsp; 传真：87877028
            </p>
            <p>
                网址：<a href="http://www.fjdtzs.com">www.fjdtzs.com</a> 
            </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <p id="copy">版权所有：西安艾丽莎婚纱礼服会馆 COPYRIGHT &reg; 2012 Beijing Rongrun Trade CO.LTD</p>
        <p id="support">技术支持：旭辉网络</p>
    </div>
</div>
</body>
</html>
